@charset "UTF-8";

main {
    background-color: white;
    flex-direction: column;
    padding-top: 1em;
}

#apresentacao {
    text-align: center;
    margin-bottom: 1em;
}

#apresentacao h2 {
    font-size: 3em;
}

#apresentacao p {
    font-size: 1.7em;
}

.ofertas-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40em;
    min-height: 40em;
    text-align: center;
    gap: .6em;
    box-sizing: border-box;
    padding: 1em;
    border: solid .5em var(--red);
}

.oferta:hover {
    box-shadow: -.7em .7em var(--red);
    transform: translate(1%, -1%);
}

.oferta img {
    width: 50%;
}

.oferta h3 {
    font-family: Andika, sans-serif;
    font-size: 2em;
}

.oferta p {
    font-size: 1.3em;
}