@charset "UTF-8";

@font-face {
    font-family: Andika;
    src: url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

:root {
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0, .1);
    --red: #fe0500;
    --light-red: #f47a79;
}

* {
    font-family: 'Andika', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear, background-color 0.2s ease-in-out;
}

html, body {
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: var(--red);
    box-shadow: var(--box-shadow);
}

.logo {
    height: 80%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%;
    transition: transform 0.3s ease;
    transform: scale(1);
}

header h1 {
    font-size: 22px;
    color: white;
}

.headbar a {
    font-family: Andika, sans-serif;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 2rem;
    color: white;

}

.headbar a:hover {
    color: var(--red);
    background: white;

}

.menubtn {
    margin-right: 80px;

}

.menubtn button {
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 3em 0;
}

#intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.map, .ofertas-painel {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 5em;
    padding: 5em 0;
    border-top: solid 3px black;
    background-color: white;
    color: black;
}

.map h1, .ofertas-painel h1 {
    font-family: Andika, sans-serif;
    font-weight: 500;
    font-size: 3em;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10em;
}

.left {
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left h2 {
    font-size: 15px;
    color: var(--light-color);
    margin-top: 100px;
}

.left h1 {
    font-size: 42px;
    font-weight: 500;
    margin-left: 35px;
}

.left p {
    margin-bottom: 20px;
    font-size: 15px;
    color: black;
}

.button {
    padding: 15px 45px;
    font-size: 1.6em;
    font-family: Andika, sans-serif;
    color: white;
    border: 2px var(--red) solid;
    box-shadow: var(--box-shadow);
    background-color: var(--red);
    border-radius: 16px;
    cursor: pointer;
}

.button:hover {
    color: var(--red);
    background-color: white;
}

.right img {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0;
}

footer {
    height: 4em;
    width: 100%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: white;
    margin-top: 1em;
    text-align: center;
}

#contato {
    text-align: center;
}

#contato div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#contato h2 {
    font-size: 2em;
}

#contato p {
    font-size: 1.7em;
}